* {
    margin: 0;
    padding: 0;
}

.square {
    border: 1px dotted black;
}

.hover {
    background-color: black;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 30px;
}

ul button {
    padding: 0 15px;
}